
<div ng-controller="PesquisaBairroController">

    <form name="bairroForm" novalidate>

        <div class="panel panel-success">

            <!-- Cabeçalho-->
            <div class="panel-heading" align="center">
                <i class="fa fa-edit"></i>
                Pesquisa de Bairros
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">
                                Bairro:
                                <span ng-bind="nmBairro"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">
                            Cidade:
                            <span ng-bind="nmCidade"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">
                            Estado:
                            <span ng-bind="nmEstado"></span>
                        </label>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <button class="btn btn-primary navbar-btn" ng-click="abrirPagina('cadastroBairro')">
                            <i class="fa fa-hand-o-left"></i>
                            Retorna
                        </button>

                    </div>
                </div>
            </div>
        </div>

    </form>


</div>