
    <div ng-controller="CadastroCarroController as vm">

    <form name="carroForm" novalidate>

        <div class="panel panel-success">

            <!-- Cabeçalho-->
            <div class="panel-heading" align="center">
                <i class="fa fa-edit"></i>
                Cadastro de Carro
            </div>

            <!-- Corpo-->
            <div class="panel-body">

                <div class="row">


                    <div class="col-md-3">

                        <div class="form-group"
                             ng-class="{'has-error':carroForm.nmMarca.$touched && carroForm.nmMarca.$invalid}">

                            <label class="control-label" for="idNmMarca">Marca do Carro:</label>
                            <input type="text"
                                   class="form-control"
                                   id="idNmMarca"
                                   name="nmMarca"
                                   placeholder="Marca do carro"
                                   ng-model="vm.entidade.nmMarca"
                                   ng-required="true"
                                   ng-minlength="3"
                                   ng-maxlength="20"
                                   autofocus>

                            <div ng-messages="carroForm.nmMarca.$error"
                                 ng-if="carroForm.nmMarca.$touched"
                                 class="text-danger">

                                <div ng-messages-include="app/template/input-ng-messages.html"></div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-3">

                        <div class="form-group"
                             ng-class="{'has-error':carroForm.nmCarro.$touched && carroForm.nmCarro.$invalid}">

                            <label class="control-label" for="idNmCarro">Nome do Carro:</label>
                            <input type="text"
                                   class="form-control"
                                   id="idNmCarro"
                                   name="nmCarro"
                                   placeholder="Nome do carro"
                                   ng-model="vm.entidade.nmCarro"
                                   ng-required="true"
                                   ng-minlength="3"
                                   ng-maxlength="30"
                                   autofocus>

                            <div ng-messages="carroForm.nmCarro.$error"
                                 ng-if="carroForm.nmCarro.$touched"
                                 class="text-danger">

                                <div ng-messages-include="app/template/input-ng-messages.html"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="form-group"
                             ng-class="{'has-error':carroForm.nmCor.$touched && carroForm.nmCor.$invalid}">

                            <label class="control-label" for="idCor">Cor do Carro:</label>
                            <input type="text"
                                   class="form-control"
                                   id="idCor"
                                   name="nmCor"
                                   placeholder="Cor do carro"
                                   ng-model="vm.entidade.nmCor"
                                   ng-required="true"
                                   ng-minlength="3"
                                   ng-maxlength="25">

                            <div ng-messages="carroForm.nmCor.$error"
                                 ng-if="carroForm.nmCor.$touched"
                                 class="text-danger">

                                <div ng-messages-include="app/template/input-ng-messages.html"></div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="form-group"
                             ng-class="{'has-error' : carroForm.dtLanc.$touched && carroForm.dtLanc.$invalid}">

                            <label class="control-label" for="idDtLanc">Data de Lançamento:</label>
                            <input type="date"
                                   class="form-control"
                                   id="idDtLanc"
                                   name="dtLanc"
                                   ng-model="vm.entidade.dtLanc"
                                   ng-required="true">

                            <div ng-messages="carroForm.dtLanc.$error"
                                 ng-if="carroForm.dtLanc.$touched"
                                 class="text-danger">

                                <div ng-messages-include="app/template/input-ng-messages.html"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div ui-grid="vm.gridOptions" class="grid"></div>
                    </div>

                </div>

                <button class="btn btn-primary navbar-btn" ng-click="vm.salvar()">
                    <i class="fa fa-floppy-o"></i>
                    Salvar
                </button>

                <button class="btn btn-danger navbar-btn" ng-click="vm.novo()">
                    <i class="fa fa-eraser"></i>
                    Novo
                </button>

                <button class="btn btn-warning navbar-btn" ng-click="vm.fechar()">
                    <i class="fa fa-home"></i>
                    Fechar
                </button>
            </div>


        </div>

    </form>

</div>
